@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-theme: var(--color-sky-500);
  --color-bg: var(--color-gray-50);
  --color-darkBg: var(--color-zinc-900);
  --color-warning: var(--color-red-500);
  --color-color: var(--color-zinc-900);
  --color-darkColor: var(--color-zinc-300);
  --color-border: var(--color-gray-200);
  --color-darkBorder: var(--color-zinc-700);
  --aspect-img: 16 / 9;
}

@layer base {
  button,
  a {
    @apply flex flex-col h-10 rounded items-center justify-center px-2.5 cursor-pointer hover:opacity-80 hover:shadow-md active:opacity-50 font-light;
  }

  body {
    @apply bg-white dark:bg-darkBg dark:text-darkColor;
  }
}

@layer components {
  .flex-center {
    @apply justify-center items-center;
  }

  .ti-con {
    @apply flex flex-col gap-1;
  }
  .ti-l {
    @apply text-gray-400 text-xs;
  }
  .ti-i {
    @apply outline-none h-10 rounded bg-bg px-2.5 dark:bg-darkBorder focus:border focus:border-theme;
  }
}

@layer utilities {
  .btn {
    @apply rounded-full bg-theme text-white;
  }
  .border.btn {
    @apply bg-transparent text-theme border;
  }

  .btn.rounded-sm {
    @apply rounded-sm;
  }
}
